.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

#page-body {
    column-count: 3;
    box-sizing: border-box;
    padding: 10px;
}

.picture-card {
    break-inside: avoid;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.card-title {
    margin-bottom: 0;
    margin-left: 2px;
    font-size: 1.2em;
    font-weight: 500;
}

.card-desc {
    margin-top: 0;
    font-size: 0.8em;
    font-weight: 300;
}

.card-title,
.card-desc {
    padding: 0 5px;
}

.card-image {
    width: 100%;
}

@media (max-width: 768px) {
    #page-body {
        column-count: 2;
    }
}

@media (max-width: 576px) {
    #page-body {
        column-count: 1;
    }
}