.picture-card-layout {
    width: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}