.picture-card-layout {
    width: 120px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.card-image {
    height: 100px;
    width: 100px;
}

#page-body {
    width: 100%;
    height: 100%;
}